<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.tailwindcss.com"></script>
<head>
    <title>Success</title>
</head>
<body class="flex justify-center items-center">
<h1 class="text-center text-3xl"> 🎉 You have successfully solved all puzzles! 🎉 </h1>
</body>
<audio id="winSound" autoplay>
    <source src="/sounds/win_sound.mp3" type="audio/mpeg">
</audio>
</html>
<script>
    document.getElementById("winSound").volume = 0.3;

</script>