  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start Screen</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <!-- Background -->
  <body class="bg-center bg-cover min-h-screen" style="background-image: url('/images/bg2.jpg'); background-size: 110%;">
  <form action="/room" method="POST" class="space-y-4"> <!-- Form used to collect user input (Send it to /room) -->
    <!-- Password input -->
    <input
            type="text"
            name="password"
            placeholder="Enter 4-letter password"
            maxlength="4"
            required
            class="text-2xl p-4 rounded-lg"
    />

    <!-- Buttons for creating and joining rooms -->
    <div class="space-x-4">
      <button type="submit" name="action" value="create" class="bg-green-500 text-white px-6 py-3 rounded-xl hover:bg-green-600 text-xl">Create Room</button>
      <button type="submit" name="action" value="join" class="bg-yellow-500 text-white px-6 py-3 rounded-xl hover:bg-yellow-600 text-xl">Join Room</button>
    </div>
  </form>
  <div class="h-screen w-full flex items-center justify-center bg-black/60">

    <div class="text-center">
      <h1 class="text-7xl text-white mb-8">Select Your Player</h1>
        <div class="space-y-4">
          <a href="/puzzle1/puz1_player1" class="text-lg">
          <button class="bg-blue-500 text-white px-12 py-8 rounded-3xl hover:bg-blue-600 text-4xl">
            Player 1
          </button>
          </a>
          <a href="/puzzle1/puz1_player2" class="text-lg">
          <button class="bg-red-500 text-white px-12 py-8 rounded-3xl hover:bg-red-600 text-4xl">
          Player 2
          </button>
          </a>
      </div>
    </div>
  </div>
  </body>
  </html>
