doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Start Screen
    script(src="https://cdn.tailwindcss.com")
  body.bg-gray-900.flex.items-center.justify-center.h-screen
    div.text-center
      h1.text-7xl.text-white.mb-8 Select Your Player
      div.space-y-4
        a(href="/users/player1", target="_blank", class="text-lg")
          button.bg-blue-500.text-white.px-12.py-8.rounded-3xl.hover.bg-blue-600.text-4xl Player 1
        a(href="/users/player2", target="_blank", class="text-lg")
          button.bg-red-500.text-white.px-12.py-8.rounded-3xl.hover.bg-red-600.text-4xl Player 2