doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Player 2 Manual
        script(src="https://cdn.tailwindcss.com")

    body.bg-red-900.text-white.flex.flex-col.items-center.justify-center.h-screen
        h1.text-4xl.mb-4 Manual
        p.text-lg.max-w-md.text-center Welcome, Player 2!
