doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Player 1
        script(src="https://cdn.tailwindcss.com")

    body.bg-blue-900.items-center.justify-center.h-screen
        br
        h1.text-white.text-4xl Welcome, Player 1!
        br
        input(type="text", placeholder="Insert text here")
