<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Player 2 Manual</title>
    <link rel="stylesheet" href="/stylesheets/puz1style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body style="background-color: #B0903D">

<h1 class="text-4xl mt-6 ml-6 bg-yellow-400 text-black px-6 py-2 rounded shadow-md inline-block">
    Manual
</h1>

<div class="flex flex-col items-center">
    <table id="header" class="mb-4">
        <tr>
            <th class="bg-yellow-400 text-black text-3xl px-20 py-2 rounded">Symbol Dictionary</th>
        </tr>
    </table>
    <table id="dictionaryTable" class="dictionary"></table>
</div>
<form method="post" id="submitForm"></form>
</body>
</html>
<script>
    //We save route variables here as global variables to be used in our js script
    window.wrongPassword = <%- JSON.stringify(wrongPassword) %>;
    window.alphabet = <%- JSON.stringify(alphabet) %>;
    window.code_alphabet = <%- JSON.stringify(code_alphabet) %>;
</script>
<script src="/js/puz1_player2.js"></script>
