<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=dece-width, initial-scale=1.0"/>
    <title>Player 2 Manual</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-red-900 text-white flex flex-col items-center justify-center h-screen">
<h1 class="text-4xl mb-4">Manual</h1>
<p class="text-lg max-w-md text-center">Welcome, Player 2!</p>
<table id="dictionaryTable">
    <tr>
        <th>Hieroglyph dictionary</th>
    </tr>
</table>
<script>
    let alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
        'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
    let code_alphabet = ['ğ“€ƒ', 'ğ“‹¬', 'ğ“€­', 'ğ“‰·', 'ğ“€’', 'ğ“€¸', 'ğ“–', 'ğ“', 'ğ“…¾', 'ğ“ƒ‚', 'ğ“‚¯', 'ğ“‰©',
        'ğ“€¼', 'ğ“ƒ©', 'ğ“…·', 'ğ“²', 'ğ“„°', 'ğ“ˆ£', 'à¶', 'ğ“‚»', 'ğ“…’', 'ğ“‚™', 'ğ“¿', 'ğ“ˆ', 'ğ“†¦', 'ğ“‹£'];
    var table = document.getElementById("dictionaryTable");
    var row = table.insertRow(1);
    for (let i = 0; i < alphabet.length; i++) {
        row.insertCell(i).innerText = alphabet[i] + " = " + code_alphabet[i];
    }
</script>

%>
</body>
</html>