<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Player 1</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="background-color: #B0903D;" class="flex items-center justify-center h-screen">
<br/>

<div class="text-center space-y-4">
    <h1 class="bg-yellow-400 text-black text-4xl px-20 py-2 border border-black">
        Can you decipher the secret code?
    </h1>
    <br>


    <table class="mx-auto border-black text-black text-5xl">
        <tr id="tableRow"></tr>
    </table>

    <script>
        const row = document.getElementById('tableRow');
        const hieroglyph = <%- JSON.stringify(locals.code_symbol) %>;

        for (let i = 0; i < hieroglyph.length; i++) {
            const cell = row.insertCell();
            cell.innerText = hieroglyph[i];
            cell.className = "bg-yellow-400 text-black text-5xl px-20 py-2 rounded";
        }
    </script>





    <form action="/puzzle1/puz1_player1" method="POST">
        <input
                type="text"
                name="codeGuess"
                placeholder="Insert code here"
                value="<%= locals.prevGuess %>"
        />
        <button type="submit">Submit</button>
    </form>
    <br>
    <h2 class="wrong-password text-2xl" id="wrongPass"></h2>
    <script>
        let wrongPassword = <%- JSON.stringify(wrongPassword) %>;
        if (wrongPassword === true) {
            document.getElementById("wrongPass").innerHTML = "Wrong password!";
        }
    </script>
</div>

</body>
</html>
