<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Player 1</title>
    <link rel="stylesheet" href="/stylesheets/puz1styleplayer1.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="game-screen">
        <table class="code-table hieroglyphs-table">
            <tr id="tableRow"></tr>
        </table>


        <div class="main-container">
            <h1 class="title-heading">Can you decipher the secret code?</h1>

            <form id="inputForm" method="POST">
                <input
                    class="uppercase-input"
                    type="text"
                    name="codeGuess"
                    placeholder="TYPE CODE HERE"
                    value="<%= locals.prevGuess %>"
                />
                <button type="submit">Submit</button>
            </form>

            <h2 class="wrong-password" id="wrongPass"></h2>
        </div>
    </div>

    <audio id="correctAudio">
        <source src="/sounds/correct.mp3" type="audio/mpeg">
    </audio>
    <audio id="wrongAudio">
        <source src="/sounds/wrong.mp3" type="audio/mpeg">
    </audio>

    <script>
        window.hieroglyph = <%- JSON.stringify(code_symbol) %>;
        window.wrongPassword = <%- JSON.stringify(wrongPassword) %>;
    </script>
    <script src="/js/puz1_player1.js"></script>
</body>
</html>
