<!DOCTYPE html>
<html lang="en">
<script src="puzzle2.js"> </script>
<head>
    <meta charset="UTF-8">
    <title>Figure out the correct order to pull the ropes based on the clues</title>
</head>
<body>
<h1></h1>

<img id="rope1" src="C:\Users\Gabri\OneDrive\Documents\GitHub\P2GR11\public\stylesheets\images\rope1.png" width = "100">

  <script src="/puzzle2.js"></script>
</body>
</html>