<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Player 2 Manual</title>
    <link rel="stylesheet" href="/stylesheets/puz2styleplayer2.css">
</head>
<body>
    <div class="book-container">
        <div class="text-overlay">
            <div class="heading2">Hints</div>
    
            <div class="container">
            <% ruleParagraphs.forEach((paragraph, i) => { %>

                <div class="rule-paragraph">
                    <h3>Sequence <%= i + 1 %></h3>
                    <ol class="paragraph-list">
                        <% paragraph.forEach(clue => { %>
                            <li><%= clue %></li>
                        <% }) %>
                    </ol>
                </div>
            <% }) %>
            </div>
        </div>
    </div>    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/puz2_player2.js"></script>
</body>
</html>