<!DOCTYPE html>
<html lang="en">
<script src="puzzle2.js"> </script>
<head>
    <meta charset="UTF-8">
    <title>puz2_player1</title>
</head>
<body>
<h1>hey</h1>
<div id="ropeContainer">
    <img id = "rope1" src = >

</div>

</body>
</html>
