<!DOCTYPE html>
<html lang="en">
<script src="puzzle2.js"> </script>
<head>
    <meta charset="UTF-8">
    <title>Figure out the correct order to pull the ropes based on the clues</title>
</head>
<body>
<h1></h1>

<img src="/images/rope1.png" alt="Rope" width="200">

  <script src="/puzzle2.js"></script>
</body>
</html>