<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>puz3_player2</title>
    <link rel="stylesheet" href="/stylesheets/puz3style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body style="background-color: #B0903D;" class="flex items-center justify-center h-screen">

<div class="text-center space-y-4">
    <h1 class="bg-yellow-400 text-black text-4xl px-20 py-2 border border-black">
        Which color appears the most?
    </h1>

<table id="tableColor" class="colorTable mx-auto"></table>
<br>
<table id="tableAnswers" class="answerTable mx-auto"></table>

<script>
    let table = document.getElementById('tableColor');
    let tableSize = 10;

    //Get colors and colorPool from puzzle3.js
    let colorPool = <%- JSON.stringify(locals.colorPool) %>;
    let cellColors = <%- JSON.stringify(locals.cellColors) %>;
    let colorIndex = 0;

    for (let i = 0; i < tableSize; i++) {
        let row = table.insertRow(i);
        for (let j = 0; j < tableSize; j++) {
            row.insertCell(-1).style.backgroundColor = cellColors[colorPool[colorIndex]];
            colorIndex++;
        }
    }

    let tableAnswers = document.getElementById('tableAnswers');
    let rowColors = tableAnswers.insertRow(0);
    for (let i = 0; i < cellColors.length; i++) {
        rowColors.insertCell(-1).style.backgroundColor = cellColors[i];
    }

    let rowAnswers = tableAnswers.insertRow(1);
    let possibleAnswers = <%- JSON.stringify(locals.possibleAnswers) %>;
    for (let i = 0; i < possibleAnswers.length; i++) {
        rowAnswers.insertCell(-1).innerHTML = possibleAnswers[i];
    }
    console.log(possibleAnswers);


</script>

</body>
</html>