/*Manual*/
body {
    margin: 0;
    height: 100vh;
    background-color: #1e1e1e;
    display: fixed;
    justify-content: center;
    align-items: center;
  }

/*Container for book image and overlay text*/
.book-container {
    position: absolute;
    display: flex;
    left:200px;
    top: 100px;
    width: 900px;
    /*max-width: 100% ;*/
    height:750px;
    background-image: url('/images/manual.png');
    background-position-x: -250px;
    background-position-y: -150px;
    background-repeat: no-repeat;
}

/*Styling for book image*/
.book-image {
    width: 200%;
    height: auto;
    display: block;
}

.container{
    position: absolute;
    width: 750px;
    top:-130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    left:-100px;
    justify-content: space-between;
    padding-top: 15px;
}
.paragraph-list{
    position: relative;
    left: -35px;
    width: 280px;
    top:-15px;
}
.rule-paragraph{
    position: relative;
    flex: none;
    width: 300px;
    padding-left: 50px;
    font-size: small;
    left: -20px;
    margin-bottom: -20px;
    padding-bottom:-10px;
    padding-top:0px;
    top:-10px;

}

/*Text overlay for book*/
.text-overlay {
    position: relative;
    top: 28%;
    padding-left: 15px;
    left: 20%;
    width: 300px;
    color: #3b2f1c;
    font-family: 'Georgia', serif;
    font-size: 1.2rem;
    line-height: 1.6;
}

.manual-list {
    list-style-type: none;
    padding-left: 0;
}

.manual-list li {
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.manual-list .rule {
    font-weight: bold;
    text-decoration: underline;
}

.manual-list .color {
    color: #5a3e1b;
}
.heading2{
        position:relative;
        width: 320px;
        font-weight:bold;
        font-family: 'Georgia', serif;
        font-size: 18px;
        text-align: center;
        top:-150px;
        left:-110px;
        padding-bottom: 15px;
}