button {
    font-weight: bold;
    font-size: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.colorTable{
    border: black solid 3px;
}

.colorTable td{
    width: 35px;
    height: 35px;
}
.answerTable td{
    border: black solid 3px;
    width: 45px;
    height: 45px;
}

.fontColorShowcase{
    color: blue;
    font-size: 30px;
}

.emphasis{
    font-weight: bold;
}

.scoreBoard{
    font-weight: bold;
    background-color: #B15A29;
    color: white;
}