/*Manual*/
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('/images/bgpuz3player2.png');
    background-repeat: repeat-x;
    background-position: center center;
    background-size: 90%;
    overflow: hidden;
  }

.game-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background: rgba(255, 236, 193, 0.05); 
    border-radius: 10px;
    z-index: 10;
}

.colorTable {
    border: 3px solid #8B5A2B;
    background-color: #f4e2b0; 
    box-shadow: 0 0 10px rgba(139, 90, 43, 0.6);
    border-collapse: collapse;
    position: absolute;
    top: 100%;
    left: 23%;
}

.colorTable td {
    width: 55px;
    height: 55px;
    border: 2px solid #a67c52;
    text-align: center;
    vertical-align: middle;
}

.small-table{
    position: fixed;
    top: 180px;    
    right: 300px;    
    z-index: 10;     
    transform: scale(0.9);
}

.answerTable td {
    border: 3px solid #a67c52;
    width: 45px;
    height: 45px; 
}

.fontColorShowcase {
    color: blue;
    font-size: 40px;
}

.emphasis {
    font-weight: bold;
}

.scoreBoard {
    font-weight: bold;
    background-color: #8B5A2B;
    color: #fff8dc;
    border: 2px solid #a67c52;
    padding: 6px 12px;
    font-family: 'Georgia', serif;
    font-size: 18px;
}