body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table, th, td {
    table-layout: fixed;
    border: 3px solid black;
    color: black;
}

.norm {
    background-color: #B15A29;
}

.code {
    background-color: #DED18D;
}

.tableHeader {
    font-size: 50px;
    text-align: center;
    width: 100%;
}

.dictionary {
    font-size: 40px;
    text-align: center;
    width: 80%;
}

.wrong-password {
    color: red;
}

a {
    color: #00B7FF;
}
