body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table, th, td {
    table-layout: fixed;
    border: 3px solid white;
    color: white;
}
.norm {
    background-color: #1C4593;
}
.code {
    background-color: cadetblue;
}

.tableHeader {
    font-size: 50px;
    text-align: center;
    width: 100%;
}

.dictionary {
    font-size: 40px;
    text-align: center;
    width: 80%;
}

a {
    color: #00B7FF;
}
